<div class="form-group">
    <h4 class="page__comments-title">Send me a message</h4>
<form action="https://formspree.io/f/mwkdrdbr" method="POST">
    <label for="comment-form-message">Name
        <input type="Name" name="name">
</label>
    <label for="comment-form-message">Email<sup><small class="required">*</small></sup>
    <input type="email" name="email" required>
</label>
  <label>
    Message<sup><small class="required">*</small></sup>
    <textarea name="message" required></textarea>
  </label>
  <!-- your other form fields go here -->
  <button class="btn btn--primary btn--default" type="submit">Send</button>
</form>
</div>